engine-strict=true
package-lock=true
save-exact=true
registry=https://registry.npmjs.org/
@akrostechnologies:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=934dc7657344bb3af2515784b801c5b426f08cb7


